{% extends "base.html" %}

{% block app_content %}
	<h1>About Me</h1>
	My name is Jeff. I am a former software engineer turned economics grad student turned aspiring data scientist. 
	<h1>About this site</h1>
	I created this site as a place to host some data visualizations I've developed to help understand how NFL teams are managed, and as a way to learn various python web dev technologies. The site is (obviously) hosted on Heroku. It was built using Flask, with CSS stuff provided by Bootstrap. The visualizations are powered by Bokeh. 
{% endblock %}